<a href="https://colab.research.google.com/github/Chaitya0623/Antariksh_LP/blob/main/associations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
df = pd.read_csv('/content/predict_stock_values.csv')
df

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,Unnamed: 0,Company_Name,Actual_Price_List,Predicted_Price_List,Final_Prediction,Result
0,0,Accor,[23.4 22.99 23.83 25. 25.02 26.34 26.39 25....,[[35.43123 ]\n [34.81089 ]\n [33.618866]\n [32...,41.042686,Profit
1,1,Air Liquide,[112.95 114.05 114.6 112.15 107. 111.7 110...,[[ 80.23705 ]\n [ 82.11149 ]\n [ 86.314804]\n ...,124.127205,Profit
2,2,Airbus,[ 50.98 52.69 59.5 61.63 68.53 72.14 61...,[[ 44.115826]\n [ 43.839413]\n [ 43.871624]\n ...,134.639920,Loss
3,3,ArcelorMittal,[ 7.89 8.1 8.04 8.45 7.93 8.36 8.59 8....,[[20.575937 ]\n [20.021595 ]\n [18.7679 ]\n ...,15.553640,Profit
4,4,Atos,[59.54 60.34 60.3 61.46 62.18 62.18 62.12 63....,[[45.520084]\n [45.989132]\n [47.103153]\n [48...,75.716550,Loss
5,5,AXA,[14.92 14.92 15.78 15.56 15.49 16.32 16.7 15....,[[18.518974]\n [18.255444]\n [17.805464]\n [17...,24.706604,Profit
6,6,BNP Paribas,[25.71 26.11 27.11 28.39 29.73 30.86 30.02 28....,[[45.970226]\n [45.144974]\n [43.07512 ]\n [40...,52.502330,Profit
7,7,Bouygues,[25.31 24.55 26.64 27.43 28.47 30.35 29.49 29....,[[29.660355]\n [29.333399]\n [28.800919]\n [28...,37.697525,Profit
8,8,Cap Gemini,[ 73.54 74.02 79.24 77.6 77.4 80. 72...,[[ 58.278786]\n [ 58.73648 ]\n [ 59.97375 ]\n ...,110.643974,Profit
9,9,Crédit Agricole,[14.16 14.14 13.68 14.29 14.37 14.28 14.69 14....,[[21.884245 ]\n [21.426838 ]\n [20.666872 ]\n ...,15.121465,Loss
10,10,Danone,[57. 56.68 58.06 57.5 56.28 58.72 56.84 55....,[[51.440548]\n [51.620987]\n [52.14729 ]\n [52...,72.691900,Profit
11,11,Dassault Systèmes,[120. 126.3 134.05 131.05 130.65 128.35 126...,[[ 47.80704 ]\n [ 49.218525]\n [ 52.87503 ]\n ...,146.857620,Profit
12,12,Engie (ex GDF Suez,[ 8.77 8.97 9.37 9.46 9.94 10.6 10.27 10....,[[18.256355 ]\n [17.61982 ]\n [16.480717 ]\n ...,14.659068,Profit
13,13,EssilorLuxottica,[ 97.78 95.22 93. 99.08 100.7 101.45 108...,[[ 91.74769 ]\n [ 92.12858 ]\n [ 93.11231 ]\n ...,135.859970,Profit
14,14,Hermès (Hermes International,[602.4 597.8 630.8 630.6 642.4 634. 628. 619...,[[283.18478]\n [293.27496]\n [316.68414]\n [35...,684.442000,Loss
15,15,Kering,[455. 456.2 472.35 479.85 474.55 483.85 471...,[[144.58644]\n [151.72597]\n [170.08015]\n [19...,553.872800,Profit
16,16,LEGRAND,[56.4 56.74 57.54 58.98 58.12 57.94 56.04 60....,[[41.2411 ]\n [42.023605]\n [43.55951 ]\n [45...,72.433060,Profit
17,17,LOréal,[239.4 233.8 238.3 244.2 237.1 252.7 252. 235...,[[138.21141]\n [141.39708]\n [149.93932]\n [16...,259.231840,Profit
18,18,LVMH Moet Hennessy Louis Vuitton,[329.2 321.9 337. 349.6 347. 360.75 374...,[[129.03188]\n [133.39386]\n [144.5715 ]\n [16...,411.774350,Profit
19,19,Michelin (Compagnie Générale d Etablissements ...,[ 78.14 80. 80.44 80.6 73. 76.48 78...,[[ 73.50301 ]\n [ 73.52548 ]\n [ 73.978386]\n ...,108.385280,Profit
20,20,Orange,[10.71 10.91 11.03 11.27 10.99 11.11 11.48 11....,[[13.682355 ]\n [13.228795 ]\n [12.728317 ]\n ...,13.309315,Loss
21,21,Pernod Ricard,[125.75 128.65 128.05 128.85 129.45 132.3 135...,[[ 92.77967 ]\n [ 93.574196]\n [ 96.65421 ]\n ...,159.376450,Profit
22,22,Peugeot,[11.89 11.99 11.56 12.1 11.83 11.96 12.28 12....,[[ 9.803556]\n [ 9.807176]\n [ 9.958551]\n [10...,20.940876,Profit
23,23,Publicis,[27.12 25.1 24.77 23.28 23.55 22.84 25.44 25....,[[50.24813 ]\n [48.885777]\n [46.352272]\n [43...,41.586820,Loss
24,24,Renault,[16.13 16.15 17.55 17.64 18.46 18.96 17.99 17....,[[59.468407 ]\n [57.65441 ]\n [54.433937 ]\n ...,39.723587,Profit
25,25,SAFRAN,[ 63.3 68.82 66.74 80.8 83.96 87.12 89...,[[ 53.191788]\n [ 53.00778 ]\n [ 53.310287]\n ...,135.036100,Profit
26,26,Saint-Gobain,[21.8 21.44 21.89 21.39 21.78 22.45 21.98 20....,[[33.64509 ]\n [33.19019 ]\n [32.17964 ]\n [30...,35.899914,Profit
27,27,Sanofi,[80.05 78.72 80.4 80.8 78. 76.8 77.28 74....,[[75.56122 ]\n [76.17543 ]\n [77.17847 ]\n [78...,90.739910,Loss
28,28,Schneider Electric,[ 74.82 73.5 73.84 76. 79.08 80.12 83...,[[59.24468 ]\n [59.93314 ]\n [61.604027]\n [63...,90.399280,Profit
29,29,Société Générale (Societe Generale,[14. 14.08 15.2 15.44 16.3 17.67 17.1 15....,[[30.37834 ]\n [29.643106 ]\n [28.108414 ]\n ...,31.468443,Profit
30,30,Sodexo,[ 59.02 57.62 58.14 60.86 59.26 62.92 62...,[[ 80.29205 ]\n [ 79.269356]\n [ 77.191536]\n ...,102.991516,Profit
31,31,STMicroelectronics,[17.8 18.54 19.17 19.67 19.46 19.01 18.53 19....,[[ 6.255328 ]\n [ 6.5784545]\n [ 7.4229317]\n ...,23.695250,Profit
32,32,TOTAL,[32.85 36.21 35.05 33.96 33.51 32.24 32.41 33....,[[32.883755]\n [32.787083]\n [32.840885]\n [33...,49.387210,Profit
33,33,Unibail-Rodamco,[ 46. 49.96 49.37 49.91 49.2 53.28 56...,[[226.40665 ]\n [220.32524 ]\n [210.20041 ]\n ...,138.173780,Profit
34,34,Veolia Environnement,[18.58 19.2 19.3 19.89 18.9 19.38 18.44 18....,[[14.459436 ]\n [14.573077 ]\n [15.01213 ]\n ...,23.511220,Profit
35,35,VINCI,[ 65.06 67.28 75.32 71.28 71.54 76. 75...,[[ 45.768494]\n [ 45.740974]\n [ 46.197594]\n ...,97.634155,Profit
36,36,Vivendi,[19.93 20.14 19.5 18.21 18.52 18.57 18.44 18....,[[20.098415]\n [20.07677 ]\n [20.065933]\n [20...,25.852072,Profit
37,37,Worldline SA,[50.7 51.86 51.88 53.6 53.6 53.95 55.6 55....,[[16.324593]\n [17.173819]\n [19.252184]\n [22...,64.090580,Profit

In [ ]:
stock_val={}
for i in range(len(df)):
  sequence_values = df['Actual_Price_List'][i].strip('[]').split()
  stock_val[df['Company_Name'][i]] = sequence_values[-1]
stock_val

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

{'Accor': '41.93',
 'Air Liquide': '126.75',
 'Airbus ': '133.68',
 'ArcelorMittal': '15.86',
 'Atos': '75.46',
 'AXA': '25.41',
 'BNP Paribas': '53.8',
 'Bouygues': '38.63',
 'Cap Gemini': '111.45',
 'Crédit Agricole': '14.96',
 'Danone': '74.18',
 'Dassault Systèmes': '147.25',
 'Engie (ex GDF Suez': '14.7',
 'EssilorLuxottica': '136.5',
 'Hermès (Hermes International': '665.',
 'Kering': '605.',
 'LEGRAND': '72.5',
 'LOréal': '265.',
 'LVMH Moet Hennessy Louis Vuitton': '421.85',
 'Michelin (Compagnie Générale d Etablissements Michelin SCPA': '109.85',
 'Orange': '13.23',
 'Pernod Ricard': '161.',
 'Peugeot': '21.69',
 'Publicis': '40.82',
 'Renault': '42.11',
 'SAFRAN': '137.15',
 'Saint-Gobain': '36.4',
 'Sanofi': '90.61',
 'Schneider Electric': '93.22',
 'Société Générale (Societe Generale': '31.8',
 'Sodexo': '105.7',
 'STMicroelectronics': '24.7',
 'TOTAL': '50.13',
 'Unibail-Rodamco': '142.25',
 'Veolia Environnement': '24.04',
 'VINCI': '99.74',
 'Vivendi': '26.24',
 'Worldline SA': '64.3'}

In [ ]:
stock_val.keys()

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

dict_keys(['Accor', 'Air Liquide', 'Airbus ', 'ArcelorMittal', 'Atos', 'AXA', 'BNP Paribas', 'Bouygues', 'Cap Gemini', 'Crédit Agricole', 'Danone', 'Dassault Systèmes', 'Engie (ex GDF Suez', 'EssilorLuxottica', 'Hermès (Hermes International', 'Kering', 'LEGRAND', 'LOréal', 'LVMH Moet Hennessy Louis Vuitton', 'Michelin (Compagnie Générale d Etablissements Michelin SCPA', 'Orange', 'Pernod Ricard', 'Peugeot', 'Publicis', 'Renault', 'SAFRAN', 'Saint-Gobain', 'Sanofi', 'Schneider Electric', 'Société Générale (Societe Generale', 'Sodexo', 'STMicroelectronics', 'TOTAL', 'Unibail-Rodamco', 'Veolia Environnement', 'VINCI', 'Vivendi', 'Worldline SA'])

In [ ]:
import random

num_rows = 100000
rows = []
for _ in range(num_rows):
    num_elements = random.randint(1, 5)
    random_elements = random.sample(stock_val.keys(), num_elements)
    rows.append(random_elements)

In [ ]:
rows[0]

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

['Publicis']

In [ ]:
data = pd.DataFrame({'Stocks': rows})
data

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

                                                  Stocks
0                                             [Publicis]
1           [Sanofi, Veolia Environnement, Worldline SA]
2               [Kering, Bouygues, LOréal, LEGRAND, AXA]
3      [Hermès (Hermes International, Sodexo, Saint-G...
4                          [Kering, TOTAL, Worldline SA]
...                                                  ...
99995                         [Crédit Agricole, Renault]
99996                                    [Pernod Ricard]
99997                                [Peugeot, Publicis]
99998                                          [Renault]
99999  [Hermès (Hermes International, Accor, Crédit A...

[100000 rows x 1 columns]

In [ ]:
# Create a new DataFrame to store the expanded data
expanded_data = []

# Iterate through the original DataFrame
for idx, row in data.iterrows():
    unique_id = idx
    for element in row['Stocks']:
        expanded_data.append([unique_id, element])

# Create the expanded DataFrame
expanded_df = pd.DataFrame(expanded_data, columns=['unique_id', 'element'])
expanded_df

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

        unique_id                       element
0               0                      Publicis
1               1                        Sanofi
2               1          Veolia Environnement
3               1                  Worldline SA
4               2                        Kering
...           ...                           ...
299630      99998                       Renault
299631      99999  Hermès (Hermes International
299632      99999                         Accor
299633      99999               Crédit Agricole
299634      99999                   BNP Paribas

[299635 rows x 2 columns]

In [ ]:
onehot = expanded_df.pivot_table(index='unique_id',columns='element', aggfunc=len, fill_value=0)
onehot = onehot>0
onehot

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

element,AXA,Accor,Air Liquide,Airbus,ArcelorMittal,Atos,BNP Paribas,Bouygues,Cap Gemini,Crédit Agricole,...,Sanofi,Schneider Electric,Société Générale (Societe Generale,Sodexo,TOTAL,Unibail-Rodamco,VINCI,Veolia Environnement,Vivendi,Worldline SA
unique_id,,,,,,,,,,,,,,,,,,,,,
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,True,False,True
2,True,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
99996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99999,False,True,False,False,False,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
onehot.to_csv('onehot.csv')

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

# compute frequent items using the Apriori algorithm
frequent_itemsets = apriori(onehot, min_support = 0.001, max_len = 5, use_colnames=True)

# compute all association rules for frequent_itemsets
rules = association_rules(frequent_itemsets, min_threshold=0.002)
rules.sort_values('confidence', ascending=False).reset_index(drop=True)

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Engie (ex GDF Suez),(TOTAL),0.07720,0.07931,0.00625,0.080959,1.020786,0.000127,1.001794,0.022066
1,(SAFRAN),(AXA),0.07817,0.07970,0.00629,0.080466,1.009607,0.000060,1.000833,0.010322
2,(Kering),(ArcelorMittal),0.07741,0.07881,0.00617,0.079705,1.011362,0.000069,1.000973,0.012177
3,(Peugeot),(Worldline SA),0.07938,0.08045,0.00632,0.079617,0.989646,-0.000066,0.999095,-0.011237
4,(Unibail-Rodamco),(Société Générale (Societe Generale),0.07921,0.08046,0.00630,0.079535,0.988509,-0.000073,0.998996,-0.012467
...,...,...,...,...,...,...,...,...,...,...
1401,(Orange),(Kering),0.07962,0.07741,0.00509,0.063929,0.825845,-0.001073,0.985598,-0.186412
1402,(Orange),(Hermès (Hermes International),0.07962,0.07628,0.00507,0.063677,0.834786,-0.001003,0.986540,-0.176977
1403,(Sodexo),(Engie (ex GDF Suez),0.07925,0.07720,0.00503,0.063470,0.822151,-0.001088,0.985340,-0.190245
1404,(Sodexo),(TOTAL),0.07925,0.07931,0.00494,0.062334,0.785959,-0.001345,0.981896,-0.228259
1405,(TOTAL),(Sodexo),0.07931,0.07925,0.00494,0.062287,0.785959,-0.001345,0.981910,-0.228270

In [ ]:
# New list for which you want to find associations
new_list = ['Atos', 'Cap Gemini']  # Replace with actual elements

# Calculate the support for the new list
support_new_list = (onehot[new_list] == 1).all(axis=1).mean()

# Find rules that involve elements from the new list
relevant_rules = rules[rules['antecedents'].apply(lambda x: any(item in new_list for item in x))]
relevant_rules = relevant_rules.sort_values('confidence', ascending=False)

# Print relevant rules and their confidence
print("Relevant Rules:")
print(relevant_rules)

Relevant Rules:
      antecedents                     consequents  antecedent support  \
387        (Atos)                       (Renault)             0.07819
358        (Atos)                        (Danone)             0.07819
583  (Cap Gemini)                         (TOTAL)             0.07887
563  (Cap Gemini)                       (Peugeot)             0.07887
354        (Atos)                    (Cap Gemini)             0.07819
..            ...                             ...                 ...
362        (Atos)            (Engie (ex GDF Suez)             0.07819
477  (Cap Gemini)                      (Bouygues)             0.07887
587  (Cap Gemini)                         (VINCI)             0.07887
366        (Atos)  (Hermès (Hermes International)             0.07819
576  (Cap Gemini)            (Schneider Electric)             0.07887

     consequent support  support  confidence      lift  leverage  conviction  \
387             0.07908  0.00620    0.079294  1.002706  0.000017    1.000232
358             0.07778  0.00617    0.078910  1.014533  0.000088    1.001227
583             0.07931  0.00614    0.077850  0.981587 -0.000115    0.998416
563             0.07938  0.00606    0.076835  0.967943 -0.000201    0.997244
354             0.07887  0.00595    0.076097  0.964837 -0.000217    0.996998
..                  ...      ...         ...       ...       ...         ...
362             0.07720  0.00535    0.068423  0.886309 -0.000686    0.990578
477             0.07965  0.00537    0.068087  0.854824 -0.000912    0.987592
587             0.07852  0.00525    0.066565  0.847749 -0.000943    0.987193
366             0.07628  0.00514    0.065737  0.861790 -0.000824    0.988715
576             0.07918  0.00511    0.064790  0.818264 -0.001135    0.984613

     zhangs_metric
387       0.002928
358       0.015539
583      -0.019959
563      -0.034707
354      -0.038032
..             ...
362      -0.122156
477      -0.155671
587      -0.163160
366      -0.148196
576      -0.194274

[74 rows x 10 columns]

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)